{# File: quotes.html #}
{# Author: Artemios Kayas (akayas@bu.edu) #}
{# Description: Template for the order confirmation page for hw2 #}
{% extends "restaurant/base.html" %}

    {% block content %}
        <div class="content">
            {# confirmation message and thanks #}
            <h1>Order Confirmation</h1>
            <p>Thank you {{ name }}! Your order has been placed.</p>
            
            {# order details and total cost #}
            <h2>Your Order:</h2>
            <p>Special: {{ special }}</p>
            <p>Pizzas: {{ pizzas|join:", " }}</p>
            <p>Toppings: {{ toppings|join:", " }}</p>
            <p>Instructions: {{ special_instructions }}</p>
            
            <p><strong>Total: ${{ total }}</strong></p>
            
            {# delivery information and timing #}
            <h2>Delivery Info:</h2>
            <p>Name: {{ name }}</p>
            <p>Phone: {{ phone }}</p>
            <p>Address: {{ address }}</p>
            <p>Ready at {{ readytime }}</p>
        </div>
    {% endblock %}