{# This is the about page, just displays simple information about the website and who made it #}
{% extends "quotes/base.html" %}

    {% block content %}
        <div class="content">
            <h1>About Marcus Aurelius Quotes</h1>
            <p>Marcus Aurelius was a Roman Emperor who was known for his wisdom and his quotes. 
                He was born in 121 AD and died in 180 AD. He was the last of the Five Good Emperors 
                and is considered one of the greatest Stoic philosophers. He wrote the famous book "Meditations".</p>
            <p>The creator of this website is named Artemios Kayas and has read the book "Meditations" and found some 
                of the quotes to be very inspiring. He thought it was especially cool that he could read the thoughts
                and ideas from one of the most powerful and influential people in history.</p>
        </div>
    {% endblock %}
