{# File: login.html #}
{# Author: Artemios Kayas (akayas@bu.edu) #}
{# Description: Login page template #}
{% extends 'mini_insta/base.html' %}

{% block content %}
<h2>Login</h2>

{% if form.errors %}
<p style="color: red;">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
</form>

<p>Don't have an account? <a href="{% url 'create_profile' %}">Create an account</a></p>
{% endblock %}
